<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- link css -->
    <link rel="stylesheet" href="/style/style.css">
    <!-- font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>Simple Bulletin Board</title>
</head>
<body>
    <header class="bg-secondary p-5">
        <div class="container mb-3">
            <h1 class="text-light mb-3">Articles</h1>
            <button type="button" id="add-new-article" class="btn btn-info text-light">Create New Article</button>
        </div>
        <div class="container">
            <ul id="article-container" class="list-unstyled d-flex flex-wrap gap-3">
                <!-- <li>
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Article Title</h5>
                            <h6 class="card-subtitle mb-2 text-muted">June 19, 2022</h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-info text-light">Read More</a>
                            <a href="#" class="btn btn-warning text-light">Edit</a>
                            <a href="#" class="btn btn-danger text-light">Delete</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Article Title</h5>
                            <h6 class="card-subtitle mb-2 text-muted">June 19, 2022</h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-info text-light">Read More</a>
                            <a href="#" class="btn btn-warning text-light">Edit</a>
                            <a href="#" class="btn btn-danger text-light">Delete</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Article Title</h5>
                            <h6 class="card-subtitle mb-2 text-muted">June 19, 2022</h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-info text-light">Read More</a>
                            <a href="#" class="btn btn-warning text-light">Edit</a>
                            <a href="#" class="btn btn-danger text-light">Delete</a>
                        </div>
                    </div>
                </li> -->
            </ul>
          
        </div>

        <!-- create article form -->
        <div id="add-new-form" class="w-100 vh-100 h-auto bg-primary bg-opacity-25 position-absolute top-0 start-0 d-none justify-content-center align-items-center">
            <form action="" id="form" class="w-50 bg-success text-white p-5 rounded position-relative">
                <div id="close-icon" class="close-icon position-absolute">
                    <i class="fa-solid fa-rectangle-xmark"></i>
                </div>
                <div class="mb-3">
                    <label for="input-title" class="form-label">Article Title</label>
                    <input type="text" class="form-control" id="input-title" placeholder="Enter title...">
                </div>
                <div class="mb-3">
                    <label for="input-description" class="form-label">Article Short Description</label>
                    <input type="text" class="form-control" id="input-description" placeholder="Enter short description of your article...">
                </div>
                <div class="mb-3">
                    <label for="input-content" class="form-label">Article Content</label>
                    <textarea class="form-control" id="input-content" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">POST</button>
            </form>
        </div>
       
    </header>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/script/client.js"></script>
</body>
</html>